<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="EndtoEnd.Listeners"/>
</listeners>
  <test  name="SigninTest">
    <classes>
      <class name="EndtoEnd.TestSignIn"/>
       </classes>
  </test> 
  <test  name="LandingpageTest">
    <classes>
      <class name="EndtoEnd.TestLandPage"/>
    </classes>
  </test> 
</suite> 
